<div class="main">
    <div class="region">
        <a [routerLink]="['/list', 'Africa']">
            <p class="text">Africa</p>
            <img src="assets/africa.png">
            
        </a>    
    </div>
    <div class="region">
        <a [routerLink]="['/list', 'Asia']">
            <p class="text">Asia</p>
            <img src="assets/asia.png">
            
        </a>    
    </div>
    <div class="region">
        <a [routerLink]="['/list', 'Europe']">
            <p class="text">Europe</p>
            <img src="assets/europe.png">
            
        </a>    
    </div>
    <div class="region">
        <a [routerLink]="['/list', 'Oceania']">
            <p class="text">Oceania</p>
            <img src="assets/oceania.png">
            
        </a>    
    </div>
    <div class="region">
        <a [routerLink]="['/list', 'Americas']">
            <p class="text">Americas</p>
            <img src="assets/america.png">
            
        </a>    
    </div>
</div>